<table class="table table-striped table-hover table-bordered mb-0">
	<thead>
		<tr>
			<th>
				<div class="loading-animation py-3 w-100"></div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>
				<div class="loading-animation py-3 w-100"></div>
			</th>
		</tr>
		<tr>
			<th>
				<div class="loading-animation py-3 w-100"></div>
			</th>
		</tr>
		<tr>
			<th>
				<div class="loading-animation py-3 w-100"></div>
			</th>
		</tr>
		<tr>
			<th>
				<div class="loading-animation py-3 w-100"></div>
			</th>
		</tr>
		<tr>
			<th>
				<div class="loading-animation py-3 w-100"></div>
			</th>
		</tr>
	</tbody>
</table>
