<div class="content-header py-3">
	<app-breadcrumb title="Brands"></app-breadcrumb>
</div>
<div class="content-body">
	<div class="card shadow-sm mb-4">
		<div class="card-header">List brands</div>
		<div class="card-body">
			<div class="position-relative">
				<div class="table-responsive-xxl mb-2 mb-sm-3">
					<ng-container *ngIf="loading else NotLoading">
						<app-tableloading></app-tableloading>
					</ng-container>
					<ng-template #NotLoading>
						<ng-container *ngIf="!!brands.length">
							<table class="table table-sm table-striped table-hover table-bordered mb-0"
								style="min-width: 888px">
								<thead>
									<tr>
										<th class="align-middle">Id</th>
										<th class="align-middle">Name</th>
										<th class="align-middle">
											Slug
										</th>
										<th class="align-middle" style="width: 11%"></th>
									</tr>
								</thead>
								<tbody>
									<tr
										*ngFor="let brand of brands | paginate: { id: 'server', itemsPerPage: limit, currentPage: p, totalItems: total }">
										<td class="align-middle small">{{brand.id}}</td>
										<td class="align-middle small">{{brand.name}}</td>
										<td class="align-middle small">
											{{brand.slug}}
										</td>
										<td class="align-middle">
											<div class="d-flex align-items-center justify-content-center">
												<a [routerLink]="['/brands/edit', brand.id]"
													class="btn btn-secondary d-flex align-items-center me-2">
													<i class="far fa-edit"></i>
												</a>
												<button type="button" (click)="deleteBrand(brand.id)"
													class="btn btn-danger d-flex align-items-center"><i
														class="far fa-trash-alt"></i>
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</ng-container>
					</ng-template>
				</div>
				<app-blockui *ngIf="deleting"></app-blockui>
				<pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
			</div>
		</div>
	</div>
</div>
