<footer class="main-footer py-4 bg-light shadow border-top">
	<div class="container-fluid">
		<div class="row g-0">
			<div class="col-12 text-center">
				<img width="50" height="50" src="assets/images/libeyondea.png" alt="Libeyondea" class="rounded-circle">
				<small class="d-block text-dark mt-1">Copyright © 2021<a target="_blank" rel="noopener noreferrer"
						href="https://twitter.com/libeyondea" class="text-decoration-none">
						Libeyondea</a>
				</small>
			</div>
		</div>
	</div>
</footer>
